@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Patua+One&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

.hero {
    background-image: url('https://res.cloudinary.com/fdeboo/image/upload/v1590666462/layout/bokeh-night-lights-city-9044_nxmprf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.logo {
    font-family: 'Patua One', cursive;
    font-size: 2em;
}

h1, h2 {
    font-family: 'Patua One', cursive;
}



/* Font colours */

.palepink {
    color: #f2D8Ce;
}

.dark-gold {
    color: #594E16;
}

.light-gold {
    color: #8C7811;;
}

.dark-blue {
    color: #184759;;
}

.light-blue {
    color: #608BA6;
}

a {
    color: inherit;
}

/* Universal layout */

.content-section {
    margin-top: 50px;
}


/* Home page */

.location-card {
    height: 220px;
    width: 220px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


/* ThingsToDo */
.search-bar {
    border-bottom: 2px solid #594E16;
    width: 100%;
}

.pos-inside {
    list-style-position: inside;
}

.thingtodo {
    font-weight: 300;
}

.thingtodo li {
    font-size: 1.3em;
    font-weight: 400;
}

.thingtodo i {
    padding-right: 5px;
}

#thing-comment {
    font-size: 1.3em;
}


.submit-btn {
    background-color: #184759;
    color : #fff;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.item-details {
    flex: 1 1 auto;
    min-height: 1px;
}

.account-img {
    width: 50px;
}