@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Lato:wght@300;400;700&family=Patua+One&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

.border {
    border: 1px solid red;
}

.hero-image {
    background-image: url('https://res.cloudinary.com/fdeboo/image/upload/v1590666462/layout/bokeh-night-lights-city-9044_nxmprf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.logo {
    font-family: 'Patua One', cursive;
    font-size: 2em;
}

h1, h2 {
    font-family: 'Patua One', cursive;
}


/* Font colours */

.pale-pink {
    color: #f2D8Ce;
}

.dark-gold {
    color: #594E16;
}

.light-gold {
    color: #8C7811;
}

.dark-blue {
    color: #184759;;
}

.light-blue {
    color: #608BA6;
}


/* Universal elements */

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.content-section {
    margin-top: 50px;
}

.submit-btn {
    background-color: #184759;
    color : #fff;
}

.submit-btn:hover {
    color : #fff;
}

.cancel-btn {
    background-color: #A6A6A6;
}

button {
    background-color: #fff;
    border: none;
    outline: 0;
    box-shadow: none;
    color: inherit;
    display: inline;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

/* Home page */

.search-bar {
    border:0;
    border-bottom: 3px solid #594E16;
    padding: 5px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.search-input {
    width: 130px;
    transition: width 0.4s ease-in-out;
}

.search-input:focus-within, 
.search-input:valid {
    outline: 0;
    width: 100%;
}

.search-false {
    font-size: 2em;
}

.search-false span {
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
}

.location-card {
    height: 220px;
    width: 220px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


/* ThingsToDo */

.pos-inside {
    list-style-position: inside;
}

.thingtodo {
    font-weight: 300;
}

.thingtodo a:hover {
    background-color: #f2D8Ce;
}

.thingtodo li {
    font-size: 1.3em;
    font-weight: 400;
}

.thingtodo li:hover {
    background-color: #608ba61f;
}

.thingtodo i {
    padding-right: 5px;
}

#thing-comment {
    font-size: 1.3em;
}

.item-icons {
    flex: 1 1 auto;
    min-height: 1px;
}

.account-img {
    width: 50px;
    height: 50px;
}