<footer class="container-lg">
    <div class="row white px-3">
        <div class="col-6 col-sm-7 container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h4>About</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam recusandae a earum
                        exercitationem.
                        Nam, vitae corporis earum quia blanditiis exercitationem error. Sapiente molestias rem suscipit
                        possimus neque! Quos, eaque optio!</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-5 container">
            <div class="row">
                <div class="col-12 col-md-8 mb-3">
                    <h4>Contact</h4>
                    <div class="grid">
                        <i class="fas fa-map-marker-alt"></i>
                        <p id="address">London, NW10</p>
                        <i class="fas fa-at"></i>
                        <p id="email-flow">101thingsinmycity@gmail.com</p>
                    </div>
                    <div class="pt-2">
                        <a href="https://github.com/fdeboo" target="_blank">
                            <i class="fab fa-github fa-lg white"></i>
                        </a>
                        <a href="https://linkedin.com/in/frandeboo" target="_blank">
                            <i class="fab fa-linkedin fa-lg white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="{{url_for('index')}}" class="white">Home</a></li>
                        <li><a href="{{url_for('register')}}" class="white">Register</a></li>
                        <li><a href="{{url_for('login')}}" class=" white">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>