<!-- Edit Suggestion Modal  -->
<div class="modal fade" id="editModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit
                    <span>"{{ thing['suggestion'] }}"</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form submits the city name as an arguement to the edit_suggestion route. -->
                <form method="POST" action="{{url_for('edit_suggestion', city=city['location'])}}">
                    <!-- editsuggestion is a global variable containing the instance of the EditSuggestionForm -->
                    {{ g.editsuggestion.csrf_token() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ g.editsuggestion.suggestion(value=thing['suggestion']) }}
                            {{ g.editsuggestion.disabledfield.label(class="form-control-label") }}
                            {% if g.editsuggestion.disabledfield.errors %}
                            {{ g.editsuggestion.disabledfield(class="form-control form-control is-invalid", value=thing['suggestion'], disabled=True) 
                                            }}
                            <div class="invalid-feedback">
                                {% for error in g.editsuggestion.disabledfield.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ g.editsuggestion.disabledfield(class="form-control form-control", value=thing['suggestion'], disabled=True)
                                            }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ g.editsuggestion.category.label(class="form-control-label") }}
                            {% if g.editsuggestion.category.errors %}
                            {{ g.editsuggestion.category(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in g.editsuggestion.category.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ g.editsuggestion.category(class="form-control form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ g.editsuggestion.cost.label(class="form-control-label") }}
                            {% if g.editsuggestion.cost.errors %}
                            {{ g.editsuggestion.cost(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in g.editsuggestion.category.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ g.editsuggestion.cost(class="form-control form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ g.editsuggestion.url.label(class="form-control-label") }}
                            {% if g.editsuggestion.url.errors %}
                            {{ g.editsuggestion.url(class="form-control form-control is-invalid", value=thing['url']) }}
                            <div class="invalid-feedback">
                                {% for error in g.editsuggestion.url.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ g.editsuggestion.url(class="form-control form-control", value=thing['url']) }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ g.editsuggestion.comment.label(class="form-control-label") }}
                            {% if g.editsuggestion.comment.errors %}
                            {{ g.editsuggestion.comment(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in g.editsuggestion.comment.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ g.editsuggestion.comment(class="form-control form-control") }}
                            {% endif %}
                        </div>

                    </fieldset>
            </div>
            <div class="modal-footer">
                <!-- Buttons to submit the data -->
                <div class="form-group">
                    {{ g.editsuggestion.submit(class="btn submit-btn") }}
                    <button type="button" class="btn submit-btn cancel-btn" data-dismiss="modal"
                        aria-label="Close">Cancel</button>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>