<header class="hero-content">
<nav class="navbar navbar-expand-lg navbar-dark pb-2 w-100">
    <div class="container">
        <a class="navbar-brand logo" href="{{ url_for('index') }}"><i class="fas fa-map-marker-alt pale-pink"></i> 101
            things</a>
        <div class="d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
                {% if current_user.is_authenticated %}
                <li class=""><a class="btn py-0" href="{{url_for('account') }}">Account</a></li>
                <li class=""><a class="btn py-0" href="{{url_for('logout') }}">Logout</a></li>
                {% else %}
                <li class=""><a class="btn py-0" href="{{ url_for('login') }}">Login</a></li>
                <li class=""><a class="btn py-0" href="{{url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex align-items-center">
    <div class="container pb-3">
        <div class="row p-4 d-flex justify-content-center text-center">
            <form method="POST" action="" class="d-flex search-form">
                <div class="search-bar">
                    <img class="" src="{{ url_for('static', filename='images/searchicon.png') }}">
                </div>
                {{ g.search_form.hidden_tag() }}
                {% if g.search_form.q.errors %}
                {{ g.search_form.q(class="is-invalid search-input search-bar pl-3", placeholder="search a location...", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in g.search_form.q.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ g.search_form.q(class="search-input search-bar pl-3", placeholder="search location...") }}
                {% endif %}
            </form>
        </div>
    </div>
</div>
<h3 class="text-center m-0 p-2" style="background-color:#f2D8Ce;">Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Ea aliquid quam eaque expedita!</h3>
</header>