<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container">
        <a class="navbar-brand logo" href="{{ url_for('index') }}"><i class="fas fa-map-marker-alt palepink"></i> 101
            things</a>
        <div class="d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
                {% if current_user.is_authenticated %}
                <li class=""><a class="btn" href="{{url_for('users.account') }}">Account</a></li>
                <li class=""><a class="btn" href="{{url_for('users.logout') }}">Logout</a></li>
                {% else %}
                <li class=""><a class="btn" href="{{ url_for('users.login') }}">Login</a></li>
                <li class=""><a class="btn" href="{{url_for('users.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>