{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <aside class="col-md-3 border p-3">
        <div class="media pt-3">
            <img class="rounded-circle profile-img mx-2" src="{{ image_file }}" alt="user profile">
            <div class="media-body">
                <h2 class="account-heading mb-0">{{ current_user.username}}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>

        <form method='POST' action='' enctype='multipart/form-data'>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <div class="form-group">
                    {{ form.fname.label(class="form-control-label") }}
                    {% if form.fname.errors %}
                    {{ form.fname(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fname.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.fname(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.lname.label(class="form-control-label") }}
                    {% if form.lname.errors %}
                    {{ form.lname(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lname.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.lname(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>

                <div class='form-group'>
                    {{ form.picture.label() }}
                    {{ form.picture( class='form-control-file' ) }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span class='text-danger'>{{ error }}</span><br />
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn submit-btn") }}
                </div>
        </form>
    </aside>
    <main class="col-md-8 col-md-offset-8 ml-4">
        <h2>Posts</h2>
        {% for thing in things %}
        <div class="accordion thingtodo" id="thingtodo">
            <a href="#" id="heading{{ loop.index }}" class="text-left collapsed" data-toggle="collapse"
                data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                <div class="suggestion-item py-2">
                    <div class="d-inline pr-2">{{ loop.index + (page - 1) * per_page }}.</div>
                    <div class="d-inline">{{ thing['suggestion'] }}</div>
                </div>
            </a>

            <div id="collapse{{ loop.index }}" class="collapse pl-4 py-2 thing-grid"
                aria-labelledby="heading{{ loop.index }}" data-parent="#thingtodo">
                <ul class="thing-icons pr-3">
                    <li>
                        <i class="fas fa-tag light-gold"></i>
                        <p>{{ thing['category'] }}</p>
                    </li>
                    <li>
                        <i class="fas fa-money-bill-wave light-gold"></i>
                        <p>{{ thing['cost'] }}</p>
                    </li>
                    <li>
                        <i id="icon-url" class="fas fa-link light-gold"></i>
                        <p><a href="{{ thing['url'] }}" target="_blank"> Visit website</a></p>
                    </li>
                </ul>
                <div class="thing-comment">
                    <div class="col-12">{{ thing['comment'] }}</div>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="{{ thing['profile'] }}">
                    <small>Suggested by <b>{{ thing['author'] }}</b></small>
                </div>
            </div>

        </div>
        {% endfor %}
    </main>
</div>


{% endblock content %}