{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <aside class="col-md-3 border p-3">
            <div class="media pt-3">
                <img class="rounded-circle profile-img mx-2" src="{{ image_file }}" alt="user profile">
                <div class="media-body">
                    <h2 class="account-heading mb-0">{{ current_user.username}}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>
            </div>

            <form method='POST' action='' enctype='multipart/form-data'>
                {{ form.hidden_tag() }}
                <fieldset class='form-group'>
                    <div class="form-group">
                        {{ form.fname.label(class="form-control-label") }}
                        {% if form.fname.errors %}
                        {{ form.fname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fname.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.fname(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.lname.label(class="form-control-label") }}
                        {% if form.lname.errors %}
                        {{ form.lname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lname.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.lname(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class='form-group'>
                        {{ form.picture.label() }}
                        {{ form.picture( class='form-control-file' ) }}
                        {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                        <span class='text-danger'>{{ error }}</span><br />
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn submit-btn") }}
                    </div>
            </form>
            <a href="#" data-toggle="modal" data-target="#deleteAccountModal"><i class="fas fa-trash-alt"></i>Delete
                Accout</a>
        </aside>

        <main class="col-12 col-lg-8 mr-4 content-section container">
            <a href="{{url_for('index')}}" class="dark-gold"><i class="fas fa-arrow-circle-left"></i>Return to
                Home</a>
            <div class="d-flex align-items-end">
                <h1 class="dark-gold">Posts</h1>
            </div>
            <div class="pl-0 py-2">
                <!-- 'List' of Things To Do  -->
                {% for thing in things %}
                <div class="accordion thingtodo" id="thingtodo">
                    <a href="#" id="heading{{ loop.index }}" class="text-left collapsed" data-toggle="collapse"
                        data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                        <div class="suggestion-item py-2">
                            <div class="d-inline pr-2">{{ loop.index + (page - 1) * per_page }}.</div>
                            <p class="d-inline">{{ thing['suggestion'] }}</p>
                        </div>
                    </a>

                    <!-- Collapsed content  -->
                    <div id="collapse{{ loop.index }}" class="collapse pl-4 py-2 mb-4 thing-grid"
                        aria-labelledby="heading{{ loop.index }}" data-parent="#thingtodo">
                        <ul class="thing-icons pr-3">
                            <li>
                                <i class="fas fa-tag light-gold"></i>
                                <p>{{ thing['category'] }}</p>
                            </li>
                            <li>
                                <i class="fas fa-money-bill-wave light-gold"></i>
                                <p>{{ thing['cost'] }}</p>
                            </li>
                            <li>
                                <i id="icon-url" class="fas fa-link light-gold"></i>
                                <!-- Check to see if the variable is empty-->
                                {% if thing['url'] | length %}
                                <p><a href="{{ thing['url'] }}" target="_blank"> Visit website</a></p>
                                {% endif %}
                            </li>
                        </ul>
                        <div class="thing-comment">

                            <div class="col-12">
                                <i class="fas fa-quote-left light-blue fa-lg"></i>
                                {{ thing['comment'] }}
                                <i class="fas fa-quote-right light-blue fa-lg"></i>
                            </div>
                        </div>
                        <div class="author">
                            <!-- Check to see if the variable is defined -->
                            {% if thing['profile'] is not none %}
                            <img class="rounded-circle" src="{{ thing['profile'] }}">
                            {% else %}
                            <img src="https://res.cloudinary.com/fdeboo/image/upload/v1590514314/profile_pics/default.jpg"
                                alt="profile">
                            <small>Suggested by <b>{{ thing['author'] }}</b></small>
                            {% endif %}

                            {% if current_user.username == thing['author'] %}
                            <div class="d-flex justify-content-end align-items-end">
                                <!--Triggers Edit Modal-->
                                <button tyoe="button" class="mx-2" data-toggle="modal"
                                    data-target="#editModal{{ loop.index }}"><i
                                        class="fas fa-edit"></i></i>Edit</button>
                                <!--Triggers Delete Modal-->
                                <button type="button" class="mx-2" data-toggle="modal"
                                    data-target="#deleteModal{{ loop.index }}"><i
                                        class="fas fa-trash-alt"></i>Delete</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


                {% include 'includes/_edit_modal.html' %}
                {% include 'includes/_delete_modal.html' %}

                {% endfor %}
            </div>
            {{ pagination.info }}
            {{ pagination.links }}

        </main>
        <!-- Delete Suggestion Modal  -->
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Are you sure you want to delete your account?</p>
                    </div>
                    <div class="modal-footer">
                        <!-- Submits the city name and suggestion title as arguements to the 'delete_suggeston' route  -->
                        <form method="POST" action="{{ url_for('delete_account', user=current_user.username) }}">
                            <input type="submit" class="btn submit-btn" value="Confirm">
                            <button type="button" class="btn submit-btn cancel-btn" data-dismiss="modal"
                                aria-label="Close">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock content %}