{% extends 'layout.html' %}
{% block content %}
<h3 class="text-center m-0 p-2" style="background-color:#f2D8Ce;">Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Ea aliquid quam eaque expedita!</h3>
<div class="hero-content d-flex align-items-center">
    <div class="container py-3">
        <div class="row p-4 d-flex justify-content-center text-center">
            <form method="POST" action="" class="d-flex search-form">
                <div class="search-bar">
                    <img class="" src="{{ url_for('static', filename='images/searchicon.png') }}">
                </div>
                {{ form.hidden_tag() }}
                {% if form.search.errors %}
                {{ form.search(class="is-invalid search-input search-bar pl-3", placeholder="search a location...", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.search.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.search(class="search-input search-bar pl-3", placeholder="search location...") }}
                {% endif %}
            </form>
        </div>
    </div>
</div>
<div class="container py-3">
    {% if locations.count() > 0 %}
    <div class="row flex-nowrap justify-content-center align-items-center">
        <div class="d-flex flex-wrap justify-content-center">
            {% for location in locations %}
            <a class="my-3 px-2 dark-gold" href="{{ url_for('suggestion_list', city=location['location']) }}">
                <div class="card location-card" style="background-image:url('{{location['bg_img']}}')">
                    <div class="card-body d-flex">
                        <h2 class="align-self-center">101 Things to do in {{ location['location'] }}</h2>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        {% if page_num > 1 %}
        <a href="{{url_for('index', page_num=prev_num)}}" id="arrow-l" class="m-2">
            <i class="light-gold disabled fas fa-arrow-circle-left fa-3x"></i>
        </a>
        {% else %}
        <a href="#" id="arrow-l" class="m-2">
            <i class="light-gold disabled fas fa-arrow-circle-left fa-3x"></i>
        </a>
        {% endif %}




        {% if page_num < pages %}
        <a href="{{url_for('index', page_num=next_num)}}" id="arrow-r" class="m-2">
            <i class="light-gold fas fa-arrow-circle-right fa-3x"></i>
        </a>
        {% else %}
        <a href="#" id="arrow-r" class="m-2">
            <i class="light-gold fas fa-arrow-circle-right fa-3x"></i>
        </a>
        {% endif %}
        </a>
    </div>
    {% else %}
    <div class="row flex-column align-items-center text-center search-false">
        <img class="my-3" src="{{ url_for('static', filename='images/searchicon_lg.png')}}"
            style="width:50px;height:50px;" />
        <p> <span>{{searched}}</span> not found.<br /> Do you want to add this location?
        </p>
    </div>
    {% endif %}



    <div class="text-center p-5" style>
        <button class="btn submit-btn p-3">
            <a href="{{ url_for('add_location') }}">Add Location</a>
        </button>
    </div>
</div>
{% endblock content %}