{% extends 'layout.html' %}

{% block content %}
<div class="row justify-content-center content-section">
    <div class="col-md-8">
        <h1 class="dark-gold">101 Things to do in {{ city }}</h1>
        <ol class="pl-0 py-3 pos-inside">
            {% for thing in things %}
            <div class="accordion thingtodo" id="accordionExample">
                <a href="#" id="heading{{ loop.index }}" class="text-left collapsed" data-toggle="collapse"
                    data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                    <li>{{ thing['suggestion'] }}</li>
                </a>     
                <div id="collapse{{ loop.index }}" class="collapse pl-4 pt-2" aria-labelledby="heading{{ loop.index }}"
                    data-parent="#accordionExample">
                    <div class="item-details">

                        <div class="row py-2 border-bottom" id="overview-icons">
                            <div class="col-12 d-flex">
                                <div class="mr-4"><i class="fas fa-tag light-gold"></i> {{ thing['category'] }}
                                </div>
                                <div class="mr-4"><i class="fas fa-money-bill-wave light-gold"></i>
                                    {{ thing['cost'] }}
                                </div>
                                <div class="mr-4">
                                    <i class="fas fa-link light-gold"></i>
                                    <a href="{{ thing['url'] }}" target="_blank"> Visit website</a> 
                                </div>
                            </div>
                        </div>

                        <div class="row py-2 border-bottom" id="thing-comment">
                            <div class="col-12">{{ thing['comment'] }}</div>
                        </div>

                        <div class="row py-2 mb-3 border-bottom" id="images">
                        <div class="col-12 d-flex">
                            <img class="rounded-circle account-img mr-2" src="{{ thing['profile'] }}" alt="user profile">
                            <p>Suggested by <b>{{ thing['author'] }}<b> </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            {% endfor %}
        </ol>
        {% if current_user.is_authenticated %}
        <button class="btn submit-btn"> <a href="{{ url_for('add_suggestion', location=city) }}">Add Suggestion
            </a>
        </button>
        {% endif %}
    </div>
</div>
{% endblock content %}