{% extends 'layout.html' %}

{% block content %}
<div class="row justify-content-center">
    <main class="col-md-8 mr-4">
        <a href="{{url_for('index')}}" class="dark-gold"><i class="fas fa-arrow-circle-left"></i>Return to Home</a>
        <h1 class="dark-gold">101 Things to do in {{ city }}</h1>
        <div class="pl-0 py-2">
            {% for thing in things %}
            <div class="accordion thingtodo" id="thingtodo">
                <a href="#" id="heading{{ loop.index }}" class="text-left collapsed" data-toggle="collapse"
                    data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                    <div class="suggestion-item py-2">
                        <div class="d-inline pr-2">{{ loop.index + (page - 1) * per_page }}.</div>
                        <p class="d-inline">{{ thing['suggestion'] }}</p>
                    </div>
                </a>

                <div id="collapse{{ loop.index }}" class="collapse pl-4 py-2 mb-4 thing-grid"
                    aria-labelledby="heading{{ loop.index }}" data-parent="#thingtodo">
                    <ul class="thing-icons pr-3">
                        <li>
                            <i class="fas fa-tag light-gold"></i>
                            <p>{{ thing['category'] }}</p>
                        </li>
                        <li>
                            <i class="fas fa-money-bill-wave light-gold"></i>
                            <p>{{ thing['cost'] }}</p>
                        </li>
                        <li>
                            <i id="icon-url" class="fas fa-link light-gold"></i>
                            <p><a href="{{ thing['url'] }}" target="_blank"> Visit website</a></p>
                        </li>
                    </ul>
                    <div class="thing-comment">
                        <div class="col-12">{{ thing['comment'] }}</div>
                    </div>
                    <div class="author">
                        <img class="rounded-circle" src="{{ thing['profile'] }}">
                        <small>Suggested by <b>{{ thing['author'] }}</b></small>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        {{ pagination.info }}
        {{ pagination.links }}
        {% if current_user.is_authenticated %}
        <button class="btn submit-btn"> <a href="{{ url_for('add_suggestion', location=city) }}">Add
                Suggestion
            </a>
        </button>
        {% endif %}
    </main>

    <aside class="col-md-3 border p-3">
        <h3>Filters:</h3>
        {% if filters|length > 0 %}
        <ul id="filtersList">
            {% for filt in filters %}
            <li>{{ filt }}</li>
            {% endfor %}
        </ul>
        <a href="{{url_for('suggestion_list', city=city)}}" class="dark-gold" id="clearFilter"><i
                class="fas fa-times-circle"></i>Clear filters</a>
        {% endif %}

        <form method="GET" action="{{ url_for('suggestion_list', city=city) }}" id="filterForm">
            <fieldset class="form-group m-0">
                <div class="form-group border p-3">
                    <b>{{ form.category.label(class="form-control-label") }}</b>
                    <table id="categories" class="filterOptions mb-2">
                        {% for subfield in form.category %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <a href="#" id="loadMore" class="dark-gold"><i class="fas fa-arrow-circle-down"></i>Load more</a>
                    <a href="#" id="showLess" class="dark-gold"><i class="fas fa-arrow-circle-up"></i>Show less</a>
                </div>

                <div class="form-group border p-3">
                    <b>{{ form.cost.label(class="form-control-label") }}</b>
                    <table class="filterOptions">
                        {% for subfield in form.cost %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn submit-btn") }}
            </div>

        </form>
    </aside>
</div>

<script>
    // Loads more options with a
    $(document).ready(function () {
        total_tr = $("#categories tr").length;
        let x = 5;
        $('#categories tr:lt(' + x + ')').show();
        $('#loadMore').click(function () {
            // variablename = (condition) ? value1:value2
            x = total_tr;
            $('#categories tr:lt(' + x + ')').slideDown(300, "swing", function () {
                $('#showLess').show()
                $('#loadMore').hide()
            });
        });

        $('#showLess').click(function () {
            x = 5;
            $('#categories tr').not(':lt(' + x + ')').slideUp(300, "swing", function () {
                $('#showLess').hide()
                $('#loadMore').show()
            });
        });
    });
</script>
{% endblock content %}