<!-- Upload Image Modal (for background)  -->
<div class="modal fade" id="uploadImageModal{{ loop.index }}" tabindex="-1" role="dialog"
    aria-labelledby="uploadImageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="Upload Image" id="uploadImageLabel">Update image for <span>"{{ location.location }}"</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST"
                    action="{{url_for('upload_image', city=location.location)}}" enctype="multipart/form-data">
                    {{ g.updateimage.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ g.updateimage.image.label(class="form-control-label") }}
                            {% if g.updateimage.image.errors %}
                            {{ g.updateimage.image(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in g.updateimage.image.errors %}
                                <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ g.updateimage.image(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <!-- Submits the city name and suggestion title as arguements to the 'delete_suggeston' route  -->
                        <div class="form-group">
                            {{ g.updateimage.submit(class="btn submit-btn") }}
                            <button type="button" class="btn submit-btn cancel-btn" data-dismiss="modal"
                                aria-label="Close">Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>